@model GalleryViewModel

<div class="row mt-3 justify-content-center">
    <h3 class="col-10">Выбор экскурсии</h3>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-10 row">
        <div class="card border-light col mx-1" style="background-color:transparent">
            <div class="card-body">
                <div class="col row align-items-start">
                    <h6 class="col card-title">По экспозициям</h6>
                    <div class="w-100"></div>
                    @foreach (var x in Model.allExcurs.Where(e => e.Тип == "экспозиция"))
                    {
                        <a class="col card-link btn btn-outline-secondary mx-3" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название</a>
                        <div class="w-100 mt-3"></div>
                    }
                </div>
            </div>
        </div>
        <div class="card border-light col mx-1" style="background-color:transparent">
            <div class="card-body">
                <div class="col row align-items-start">
                    <h6 class="col card-title">Обзорные</h6>
                    <div class="w-100"></div>
                    @foreach (var x in Model.allExcurs.Where(e => e.Тип == "обзорная"))
                    {
                        <a class="col card-link btn btn-outline-secondary mx-3" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название</a>
                        <div class="w-100 mt-3"></div>
                    }
                </div>
            </div>
        </div>
        <div class="card border-light col mx-1" style="background-color:transparent">
            <div class="card-body">
                <div class="col row align-items-start">
                    <h6 class="col">Тематические</h6>
                    <div class="w-100"></div>
                    @foreach (var x in Model.allExcurs.Where(e => e.Тип == "тематическая"))
                    {
                        <a class="col btn btn-outline-secondary mx-3" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название</a>
                        <div class="w-100 mt-3"></div>
                    }
                </div>
            </div>
        </div>
        <div class="card border-light col mx-1" style="background-color:transparent">
            <div class="card-body">
                <div class="col row align-items-start">
                    <h6 class="col">Пользовательские</h6>
                    <div class="w-100"></div>
                    @foreach (var x in Model.allExcurs.Where(e => e.Тип.Contains("User")))
                    {
                        <a class="col btn btn-outline-secondary mx-3" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название от @Model.allUsers.FirstOrDefault(u => u.Id.ToString() == x.Тип.Split('-')[1]).Name</a>
                        <div class="w-100 mt-3"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>