@model GalleryViewModel
@using Microsoft.AspNetCore.Authorization;
@{ Экспозиция exp = Model.allExpos.FirstOrDefault(e => e.Код_экспозиции == int.Parse(Model.id));}
@{
    if (UserViewModel.ExpoHistory.Contains(exp.Код_экспозиции))
    {
        UserViewModel.ExpoHistory.Remove(exp.Код_экспозиции);
        UserViewModel.ExpoHistory.Add(exp.Код_экспозиции);
    }
    else
    {
        UserViewModel.ExpoHistory.Add(exp.Код_экспозиции);
        if (UserViewModel.ExpoHistory.Count > 5)
        {
            UserViewModel.ExpoHistory.Remove(UserViewModel.ExpoHistory.First());
        }
    }
}
<div class="row justify-content-center">
    <div class="col-10 row mt-3">
        <h1>Экспозиция "@exp.Название"</h1>

    </div>
    <div class="col-10 row mt-3">
        <h3>Об экспозиции</h3>
        @{string a = exp.ДатаЗакрытия == null ? "" : ((DateTime)exp.ДатаЗакрытия).ToString("d");}
        <p class="lead">Даты проведения: @exp.ДатаОткрытия.ToString("d") - @a</p>
        <p class="lead">@exp.Аннотация</p>
    </div>
    <div class="col-10 row mt-3">
        <h3>Представленные экспонаты</h3>
    </div>
    <div class="col-10 row mt-3 justify-content-between">
        @foreach (var x in Model.allShowpieces.Where(s => s.Экспозиция == exp.Код_экспозиции))
        {
        <div class="card col-2 mx-1 mb-2 p-0" style="background-color:transparent">
            @{var pic = Model.allPictures.FirstOrDefault(p => p.Инвентарный_номер == x.Картина);}
            <input style='border:5px solid; border-color: lightgrey; max-height:300px' type="image" onclick="on(this.id)" id="@pic.Инвентарный_номер" class="card-img-custom card-img-top img-fluid d-flex align-self-start border-1 rounded" src="~/img/Pictures/@pic.ЦифроваяВерсия" />

            <div class="card-body p-2 d-flex align-content-end flex-wrap justify-content-center">
                <p class="card-text" id="mainInfo_@pic.Инвентарный_номер" style="text-align:center">"@pic.Название" (@pic.ГодСоздания) - @Model.allAuthors.FirstOrDefault(a => a.Код_автора == pic.Автор).ФИО, @Model.allCountries.FirstOrDefault(c => c.Код_страны == pic.СтранаСоздания).НазваниеСтраны</p>
                <p class=" justify-content-center">
                    <button class="card-link btn btn-outline-success" onclick="on(this.id)" id="@pic.Инвентарный_номер">О картине</button>
                    <div id="picEtick_@pic.Инвентарный_номер" hidden>@x.Этикетаж</div>
                </p>
            </div>
        </div>
        }
    </div>
    <div class="col-10 row mt-5">
        <div class="col-auto row align-items-end">
            <form class="col-6 p-0" method="post" action="/Gallery/LikeExpo">
                <input hidden name="id" value="@exp.Код_экспозиции" />
                @if (UserViewModel.userInfo != null && UserViewModel.userInfo.LikedExpos.Contains(exp.Код_экспозиции))
                {
                    <input hidden name="act" value="dislike" />
                    <input class="mb-3" type="image" style="width: 25px; height: auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/2048px-Emoji_u2665.svg.png" />
                }
                else
                {
                    <input hidden name="act" value="like" />
                    <input class="mb-3" type="image" style="width: 25px; height: auto" src="https://psv4.userapi.com/c534536/u173658598/docs/d23/b3c226347653/bed171f38bc538c188efa49f41318255.png?extra=soltoRP6C47mEG02JCO6g05JysHivWS9Mhzp4ZXGYk9C4yBmvVND4UTGJB5jijzTvtiaCJjNil2rPvit6M8ilY8z4yWJJnn9LPXVrQypk3RTqi-a6rXDcs8IBFmkXY-2Kb7Hyr1kTJU4WLABbq8g_aAu" />
                }
            </form>
            <span class="lead col-6 mb-3">@Model.allExpoLikes.Where(e => e.ExpoId == exp.Код_экспозиции).Count()</span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="col" method="post" action="/Gallery/LeaveCommentExpo">
                <input hidden name="id" value="@exp.Код_экспозиции" />
                <div class=" d-flex">
                    <textarea required rows="3" name="comment" class="m-3 p-2 form-control flex-fill" placeholder="Оставьте комментарий..."></textarea>
                    <button class="mt-3 mb-3 p-2 align-self-end btn btn-outline-secondary flex-fill">Отправить</button>
                </div>
            </form>
        }
        else
        {
            <div class="col d-flex p-0 mx-1">
                <a class="mb-3 p-2 lead align-self-end flex-fill bd-highlight btn btn-outline-secondary" aria-current="page" href="/Account/Login">Чтобы оставить комментарий, авторизируйтесь</a>
            </div>
        }
    </div>
    <div class="col-10 row mt-5 align-items-end">
        <h4 class="p-0">Комментарии</h4>
        @if (Model.allExpoComments.Where(e => e.ExpoId == exp.Код_экспозиции).Count() > 0)
        {
            @foreach (var x in Model.allExpoComments.Where(e => e.ExpoId == exp.Код_экспозиции).OrderByDescending(c => c.PublishDate))
            {
                <p class="col-auto" align="Left" style="font-size: x-large; font-style: oblique">@Model.allUsers.FirstOrDefault(u => u.Id == x.UserId).Name:</p>
                <p class="lead col-auto  flex-grow-1 " align="Left" style="font-size: large">@x.Comment</p>
                <p class="col-auto" align="Left" style="font-size: medium; font-style: italic">@x.PublishDate.ToString()</p>
                <div class="dropdown-divider"></div>
                <div class="w-100"></div>
            }
        }
        else
        {
            <p class="lead col-auto p-0 flex-grow-1 mt-3" align="Left" style="font-size: large">Оставьте комментарий первым!</p>
        }
    </div>
</div>
<div class="fixed-bottom mt-5 mx-5 d-flex justify-content-end">
    <a href="#top" class="btn btn-outline-success">Наверх@*<img src="up.png" align=right>*@</a>
</div>
<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    textarea {
        resize: none;
    }

    #text {
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 20px;
        color: white;
        transform: translate(-50%,-20%);
        -ms-transform: translate(-50%,-20%);
    }
</style>

<div id="overlay" onclick="off()">
    <div id="text">
        <div style="width: auto; height: 500px "><img id="PicImg" style='height: 100%; width: 100%; object-fit: contain' /></div>
        <h5 id="overlay_main_pic_info"></h5>
        <h3>О картине:</h3>
        <div id="overlay_pic_about"></div>
    </div>
</div>

<script>
    function on(id) {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("overlay_pic_about").textContent = document.getElementById("picEtick_" + id).textContent;
        document.getElementById("overlay_main_pic_info").textContent = document.getElementById("mainInfo_" + id).textContent;
        document.getElementById("PicImg").src = "../../img/Pictures/" + id + ".jpg";
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }
</script>
