@model AccountViewModel
<div class="row mt-3">
    <div class="col-2">
        <div class="row mt-3 ">
            <h3 class="col-auto" align="Left">Возможности</h3>
            <div class="w-100"></div>
            <a class="col-auto flex-fill  btn btn-light" align="Left" style="font-size: large" href="/Gallery/CreateExcursion">Создать экскурсию</a>
            <div class="w-100"></div>
            <a class="col-auto flex-fill  btn btn-light" style="font-size: large"  href="/Account/ChangeName">Изменить имя</a>
            <div class="w-100"></div>
            <a class="col-auto flex-fill  btn btn-light" style="font-size: large"  href="/Account/ChangeEmail">Изменить почту</a>
            <div class="w-100"></div>
            <a class="col-auto flex-fill  btn btn-light" style="font-size: large"  href="/Account/ChangePassword" >Изменить пароль</a>
        </div>

    </div>
    <div class="col-10 align-items-md-start ">
        <div class="row mt-3">
            <h3 class="col-auto"  align="Left">Ваш профиль</h3>
        </div>
        <div class="row mt-1 align-items-end justify-content-start">
            <span class="col-auto " align="Left" style="font-size: x-large">Имя посетителя: @UserViewModel.userInfo.Name</span>
            <div class="w-100"></div>
            <span class="col-auto " align="Left" style="font-size: x-large">Электронная почта: @UserViewModel.userInfo.Email</span>
            <div class="w-100"></div>
            <span class="col-auto" align="Left" style="font-size: x-large">Дата регистрации: @UserViewModel.userInfo.RegistrationDate.ToString("d")</span>
        </div>
        <div class="row mt-3 align-items-start ">
            <h3 align="Left">Ваша коллекция</h3>
            <div class="col-4 row align-items-center ">
                <span class="col-auto" align="Left" style="font-size:  x-large">Избранные экспозиции</span>
                <div class="w-100"></div>
                @{var likedexpos = Model.allExpos.Where(e => UserViewModel.userInfo.LikedExpos.Contains(e.Код_экспозиции));}
                @if (likedexpos.Count() == 0)
                {
                    <span class="col-auto" align="Left" style="font-size:  large">Пусто!</span>
                }
                else
                {
                    @foreach (var x in likedexpos)
                    {
                        <a class="col-auto btn btn-light" align="Left" style="font-size: x-large" href="/Gallery/ShowExpo?id=@x.Код_экспозиции">@x.Название</a>
                        <form method="post" class="col-auto" action="/Gallery/LikeExpo">
                            <input hidden name="id" value="@x.Код_экспозиции" />
                            <input hidden name="act" value="dislike" />
                            <input type="image" style="width: 25px; height: auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/2048px-Emoji_u2665.svg.png" />
                        </form>
                        <div class="w-100"></div>
                    }}
            </div>
            <div class="col-4 row align-items-center ">
                <span class="col-auto" align="Left" style="font-size:  x-large">Избранные экскурсии</span>
                <div class="w-100"></div>
                @{var likedexcurs = Model.allExcurs.Where(e => UserViewModel.userInfo.LikedExcurs.Contains(e.id));}
                @if (likedexcurs.Count() == 0)
                {
                    <span class="col-auto" align="Left" style="font-size:  large">Пусто!</span>
                }
                else
                {
                    @foreach (var x in likedexcurs)
                    {
                        <a class="col-auto btn btn-light" align="Left" style="font-size: x-large" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название</a>
                        <form method="post" class="col-auto" action="/Gallery/LikeExcur">
                            <input hidden name="id" value="@x.id" />
                            <input hidden name="act" value="dislike" />
                            <input type="image" style="width: 25px; height: auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Emoji_u2665.svg/2048px-Emoji_u2665.svg.png" />
                        </form>
                        <div class="w-100"></div>
                    }
                }
            </div>
            <div class="col-4 row align-items-center ">
                <span class="col-auto" align="Left" style="font-size:  x-large">Созданные вами экскурсии</span>
                <div class="w-100"></div>
                @{var usrexcurs = Model.allExcurs.Where(e => e.Тип.Contains($"-{UserViewModel.userInfo.Id}-"));}
                @if (usrexcurs.Count() == 0)
                {
                    <span class="col-auto" align="Left" style="font-size:  large">Пусто!</span>
                }
                else
                {
                    @foreach (var x in usrexcurs)
                    {
                        <a class="col btn btn-light" align="Left" style="font-size: x-large" href="/Gallery/ExcursionPreview?id=@x.id">@x.Название</a>
                        <div class="col ">
                            <div class="row">
                                <form method="post" class="" action="/Gallery/EditExcur">
                                    <input hidden name="excId" value="@x.id" />
                                    <input hidden name="roomId" value="0" />
                                    <input hidden name="picId" value="0" />
                                    <button class="btn-info col-auto" style="font-size:small">Изменить экскурсию</button>
                                </form>
                                <div class="w-100"></div>
                                <form method="post" class="" action="/Account/DeleteExcur">
                                    <input hidden name="excId" value="@x.id" />
                                    <input type="button" class="btn-danger col-auto" style="font-size:small" value="Удалить экскурсию навсегда">
                                </form>
                            </div>
                        </div>
                        <div class="w-100"></div>
                    }
                }
            </div>
        </div>
    </div>
</div>