@model DBDeleteViewModel
<div class="row mt-5 mb-2">
    <h2>Удаление информации о стиле</h2>
    <h2>Выберете стиль/ стили</h2>
    <form method="post" action="/DBDelete/Стиль" name="Form">
        <select class="form-select form-select-sm mb-3 mt-3" multiple required name="value" size="10">
            @foreach (var x in Model.allStyles)
            {
                if (Model.ids.Contains(x.Код_стиля.ToString()))
                {
                    <option selected value="@x.Код_стиля">@x.Код_стиля @x.НазваниеСтиля</option>
                }
                else
                {
                    <option value="@x.Код_стиля">@x.Код_стиля @x.НазваниеСтиля</option>
                }
            }
        </select>
        <p>
            <button name="clear" value="false">Продолжить</button>
            <button name="clear" value="true">Сбросить выбор</button>
        </p>
    </form>
    @if (Model.isSelected)
    {
        <h2>Информация о выбранных стилях:</h2>
        <p>
            <table border="1" align="center"
                   cellpadding="4" cellspacing="0">
                <tr value="">
                    @*@foreach (var x in entPropts)
                        {
                            <th style="border:1px solid black;">@x</th>
                        }*@
                    <th style="border:1px solid black;">Код</th>
                    <th style="border:1px solid black;">Название</th>
                </tr>
                @foreach (var x in Model.allStyles.Where(p => Model.ids.Contains(p.Код_стиля.ToString())))
                {
                    <tr value="@x.Код_стиля">
                        <td rowspan="4" style="border:1px solid black;">@x.Код_стиля</td>
                        <td style="border:1px solid black;"> @x.НазваниеСтиля</td>
                    </tr>
                    <tr><th style="border:1px solid black;" class="text-center" colspan="14">Будут также заменены на стандартное значение следующие связанные с данным стилем записи</th></tr>
                    <tr><td style="border:1px solid black;" colspan="14">Запись об этом стиле в следующих картинах:</td></tr>
                    <tr>
                        @{ string pics = "";}
                        @foreach (var y in Model.allPictures.Where(s => s.Стиль == x.Код_стиля))
                        {
                            pics += y.Инвентарный_номер + " (" + y.Название + ")           ";
                            @*<td style="border:1px solid black;" class="text-lg-start">@y.Инвентарный_номер (@y.Название)</td>*@
                        }
                        <td>@pics</td>
                    </tr>
                }
            </table>
            <div>

            </div>
        </p>
        <form method="post" action="/DBDelete/Delete">
            <input hidden name="type" value="Стиль" />
            <button name="ids" value="@Model.ids">Удалить</button>
        </form>
    }
</div>
