@model DBDeleteViewModel
<div class="row mt-5 mb-2">
    <h2>Удаление информации о стране</h2>
    <h2>Выберете страну/ страны</h2>
    <form method="post" action="/DBDelete/Страна" name="Form">
        <select class="form-select form-select-sm mb-3 mt-3" multiple required name="value" size="10">
            @foreach (var x in Model.allCountries)
            {
                if (Model.ids.Contains(x.Код_страны.ToString()))
                {
                    <option selected value="@x.Код_страны">@x.Код_страны @x.НазваниеСтраны</option>
                }
                else
                {
                    <option value="@x.Код_страны">@x.Код_страны @x.НазваниеСтраны</option>
                }
            }
        </select>
        <p>
            <button name="clear" value="false">Продолжить</button>
            <button name="clear" value="true">Сбросить выбор</button>
        </p>
    </form>
    @if (Model.isSelected)
    {
        <h2>Информация о выбранных странах:</h2>
        <p>
            <table border="1" align="center"
                   cellpadding="4" cellspacing="0">
                <tr value="">
                    @*@foreach (var x in entPropts)
                        {
                            <th style="border:1px solid black;">@x</th>
                        }*@
                    <th style="border:1px solid black;">Код</th>
                    <th style="border:1px solid black;">Название</th>
                </tr>
                @foreach (var x in Model.allCountries.Where(p => Model.ids.Contains(p.Код_страны.ToString())))
                {
                    <tr value="@x.Код_страны">
                        <td rowspan="6" style="border:1px solid black;">@x.Код_страны</td>
                        <td style="border:1px solid black;"> @x.НазваниеСтраны</td>
                    </tr>
                    <tr><th style="border:1px solid black;" class="text-center" colspan="14">Будут также заменены на стандартное значение следующие связанные с данной страной записи</th></tr>
                    <tr><td style="border:1px solid black;" colspan="14">Запись об этой стране в следующих картинах:</td></tr>
                    <tr>
                        @{ string pics = "";}
                        @foreach (var y in Model.allPictures.Where(s => s.СтранаСоздания == x.Код_страны))
                        {
                            pics += y.Инвентарный_номер + " (" + y.Название + ")           ";
                            @*<td style="border:1px solid black;" class="text-lg-start">@y.Инвентарный_номер (@y.Название)</td>*@
                        }
                        <td>@pics</td>
                    </tr>
                <tr><td style="border:1px solid black;" colspan="14">Запись об этой стране в следующих автрах:</td></tr>
                    <tr>
                        @{ string a = "";}
                        @foreach (var y in Model.allAuthors.Where(s => s.Код_страны_рождения == x.Код_страны))
                        {
                            a += y.Код_автора + " (" + y.ФИО + ")           ";
                            @*<td style="border:1px solid black;" class="text-lg-start">@y.Инвентарный_номер (@y.Название)</td>*@
                        }
                        <td>@a</td>
                    </tr>
                }
            </table>
            <div>

            </div>
        </p>
        <form method="post" action="/DBDelete/Delete">
            <input hidden name="type" value="Страна" />
            <button name="ids" value="@Model.ids">Удалить</button>
        </form>
    }
</div>
