@model DBDeleteViewModel
<div class="row mt-5 mb-2">
    <h2>Удаление информации о технике</h2>
    @if (Model.ids.Length == 0)
    {
        <h2>Выберете технику/ техники</h2>
        <form method="get" action="/DBDelete/Техника" name="Form">
            <select class="form-select form-select-sm mb-3 mt-3" multiple required name="id" size="10">
                @foreach (var x in Model.allTechniques)
                {
                    if (Model.ids.Contains(x.Код_техники.ToString()))
                    {
                        <option selected value="@x.Код_техники">@x.Код_техники @x.НазваниеТехники</option>
                    }
                    else
                    {
                        <option value="@x.Код_техники">@x.Код_техники @x.НазваниеТехники</option>
                    }
                }
            </select>
            <p>
                <button name="clear" value="false">Продолжить</button>
                <button name="clear" value="true">Сбросить выбор</button>
            </p>
        </form>
    }
    else
    {
        <form method="get" action="/DBDelete/Техника" name="Form">
            <p>
                <button name="clear" value="true">Сбросить выбор</button>
            </p>
        </form>
        <h2>Информация о выбранных техниках:</h2>
        <p>
            <table border="1" align="center"
                   cellpadding="4" cellspacing="0">
                <tr value="">
                    @*@foreach (var x in entPropts)
                        {
                            <th style="border:1px solid black;">@x</th>
                        }*@
                    <th style="border:1px solid black;">Код</th>
                    <th style="border:1px solid black;">Название</th>
                </tr>
                @foreach (var x in Model.allTechniques.Where(p => Model.ids.Contains(p.Код_техники.ToString())))
                {
                    <tr value="@x.Код_техники">
                        <td rowspan="4" style="border:1px solid black;">@x.Код_техники</td>
                        <td style="border:1px solid black;"> @x.НазваниеТехники</td>
                    </tr>
                    <tr><th style="border:1px solid black;" class="text-center" colspan="14">Будут также заменены на стандартное значение следующие связанные с данной техникой записи</th></tr>
                    <tr><td style="border:1px solid black;" colspan="14">Запись об этой технике в следующих картинах:</td></tr>
                    <tr>
                        @{ string pics = "";}
                        @foreach (var y in Model.allPictures.Where(s => s.Техника == x.Код_техники))
                        {
                            pics += y.Инвентарный_номер + " (" + y.Название + ")           ";
                            @*<td style="border:1px solid black;" class="text-lg-start">@y.Инвентарный_номер (@y.Название)</td>*@
                        }
                        <td>@pics</td>
                    </tr>
                }
            </table>
            <div>

            </div>
        </p>
        <form method="post" action="/DBDelete/Delete">
            <input hidden name="type" value="Техника" />
            @foreach (var x in Model.ids)
            {
                <input hidden name="id" value="@x" />
            }
            <button name="ids" value="@Model.ids">Удалить</button>
        </form>
    }
</div>
