@model DBDeleteViewModel
<div class="row mt-5 mb-2">
    <h2>Удаление информации об экспозиции</h2>@if (Model.ids.Length == 0)
    {
        <h2>Выберете экспозицию/ экспозиции</h2>
        <form method="get" action="/DBDelete/Экспозиция" name="Form">
            <select class="form-select form-select-sm mb-3 mt-3" multiple required name="value" size="10">
                @foreach (var x in Model.allExpos)
                {
                    if (Model.ids.Contains(x.Код_экспозиции.ToString()))
                    {
                        <option selected value="@x.Код_экспозиции">@x.Код_экспозиции @x.Название</option>
                    }
                    else
                    {
                        <option value="@x.Код_экспозиции">@x.Код_экспозиции @x.Название</option>
                    }
                }
            </select>
            <p>
                <button name="clear" value="false">Продолжить</button>
                <button name="clear" value="true">Сбросить выбор</button>
            </p>
        </form>
    }
    else
    {
        <form method="get" action="/DBDelete/Экспозиция" name="Form">
            <p>
                <button name="clear" value="true">Сбросить выбор</button>
            </p>
        </form>
        <h2>Информация о выбранных экспозициях:</h2>
        <p>
            <table border="1" align="center"
                   cellpadding="4" cellspacing="0">
                <tr value="">
                    @*@foreach (var x in entPropts)
                        {
                            <th style="border:1px solid black;">@x</th>
                        }*@
                    <th style="border:1px solid black;">Код</th>
                    <th style="border:1px solid black;">Название</th>
                    <th style="border:1px solid black;">Статус</th>
                    <th style="border:1px solid black;">Дата открытия</th>
                    <th style="border:1px solid black;">Дата закрытия</th>
                    <th style="border:1px solid black;">Аннотация</th>
                    <th style="border:1px solid black;">Пресс-релиз</th>
                </tr>
                @foreach (var x in Model.allExpos.Where(p => Model.ids.Contains(p.Код_экспозиции.ToString())))
                {
                    <tr value="@x.Код_экспозиции">
                        <td rowspan="4" style="border:1px solid black;">@x.Код_экспозиции</td>
                        <td style="border:1px solid black;"> @x.Название</td>
                        <td style="border:1px solid black;">@x.Статус @*(@Model.allEStatus.FirstOrDefault(e => e.Код_статуса == x.Статус).Статус)*@</td>
                        <td style="border:1px solid black;"> @x.ДатаОткрытия</td>
                        <td style="border:1px solid black;"> @x.ДатаЗакрытия</td>
                        <td style="border:1px solid black;"> @x.Аннотация</td>
                        <td style="border:1px solid black;"> @x.Пресс_релиз</td>
                    </tr>
                    <tr><th style="border:1px solid black;" class="text-center" colspan="14">Будут также удалены следующие связанные с данной экспозицией записи</th></tr>
                    <tr><td style="border:1px solid black;" colspan="14">Записи экспонатов, представленных на этой выставке</td></tr>
                    <tr>
                        <th></th>
                        @{ foreach (var y in Model.allShowpieces.Where(s => s.Экспозиция == x.Код_экспозиции))
                            {
                                <td>
                                    Картина @y.Картина @Model.allPictures.FirstOrDefault(m => m.Инвентарный_номер == y.Картина).Название,
                                    Место @Model.allPlaces.FirstOrDefault(p => p.Номер_места == y.Место).ЗначениеМеста,
                                    Этикетаж @y.Этикетаж
                                </td>
                            }
                        }
                    </tr>
                }
            </table>
            <div>

            </div>
        </p>
        <form method="post" action="/DBDelete/Delete">
            <input hidden name="type" value="Экспозиция" />
            @foreach (var x in Model.ids)
            {
                <input hidden name="id" value="@x" />
            }
            <button name="ids" value="@Model.ids">Удалить</button>
        </form>
    }
</div>
