@model DBEditViewModel
<h2>Изменение данынх жанра</h2>
<h2>Выберете жанр для изменения</h2>
<form method="post" action="/DBEdit/SelectEnt" name="Form">
    <input hidden name="type" value="Жанр" />
    <select class="form-select form-select-sm mb-3 mt-3" required name="value" size="10" id="selPic">
        @foreach (var x in Model.allJanres)
        {
            if (Model.id == x.Код_жанра.ToString())
            {
                <option selected value="@x.Код_жанра">@x.Код_жанра @x.НазваниеЖанра</option>
            }
            else
            {
                <option value="@x.Код_жанра">@x.Код_жанра @x.НазваниеЖанра</option>
            }
        }
    </select>
    <p>
        <button name="clear" value="false">Выбрать</button>
        <button name="clear" value="true">Сбросить выбор</button>
    </p>
</form>
@if (Model.isSelected)
{
    <div class="row mt-5 mb-2">
        <h2>Внесение информации о жанре</h2>
        <form class="row mt-5 mb-2" method="post" action="/DBEdit/FinishEdit" id="base">
            <input hidden name="type" value="Жанр" />
            @{
                var x = Model.allJanres.FirstOrDefault(p => p.Код_жанра.ToString() == Model.id);
            }
            <input hidden name="Код_жанра" value="@x.Код_жанра" />
            <div class="col-lg-4">
                <p>
                    <h5>Название</h5>
                    <input type="text" name="НазваниеЖанра" required value="@x.НазваниеЖанра"/>
                </p>
            </div>

        </form>
        <button form="base">Изменить</button>
    </div>
}