@model DBEditViewModel
<h4>Изменение данынх жанра</h4>
@if (Model.id == null)
{
    <h4>Выберете жанр для изменения</h4>
    <form method="post" action="/DBEdit/Жанр" name="Form">
        <input hidden name="type" value="Жанр" />
        <select class="form-select form-select-sm mb-3 mt-3" required name="id" size="10" id="selPic">
            @foreach (var x in Model.allJanres)
            {
                if (Model.id == x.Код_жанра.ToString())
                {
                    <option selected value="@x.Код_жанра">@x.Код_жанра @x.НазваниеЖанра</option>
                }
                else
                {
                    <option value="@x.Код_жанра">@x.Код_жанра @x.НазваниеЖанра</option>
                }
            }
        </select>
        <p>
            <button name="clear" value="false">Выбрать</button>
            <button name="clear" value="true">Сбросить выбор</button>
        </p>
    </form>
}
else
{
    <form method="get" action="/DBEdit/Жанр" name="Form">
        <p>
            <button name="clear" value="true">Сбросить выбор</button>
        </p>
    </form>
    <div class="row mt-5 mb-2">
        <h4>Внесение информации о жанре</h4>
        <form class="row mt-5 mb-2" method="post" action="/DBEdit/FinishEdit" id="base">
            <input hidden name="type" value="Жанр" />
            @{
                var x = Model.allJanres.FirstOrDefault(p => p.Код_жанра.ToString() == Model.id);
            }
            <input hidden name="Код_жанра" value="@x.Код_жанра" />
            <div class="col-lg-4">
                <p>
                    <h6>Название</h6>
                    <input type="text" name="НазваниеЖанра" required value="@x.НазваниеЖанра" />
                </p>
            </div>

        </form>
        <button form="base">Изменить</button>
    </div>
}