@model DBQueryViewModel

@using Newtonsoft.Json;

<div class="row mt-3">
    <h4>Результат запроса</h4>
</div>
<div class="row mt-2 mb-3">
    @{Dictionary<string, List<List<string>>> res = JsonConvert.DeserializeObject <Dictionary<string, List<List<string>>>>(TempData["queryResult"].ToString());}
    @if (SQLQueryRepository.queries[res.First().Key].Contains("SELECT"))
    {
        <button form="nextAct" name="action" value="save">Сохранить запрос(ы)</button>
    }
    <button form="nextAct" name="action" value="newQuery">Новый запрос</button>
    <form id="nextAct" method="post" action="/DBQuery/queryAction">
        @foreach (var t in res)
        {
            <div class="row mb-2">
                <h4>@t.Key</h4>
                <input hidden name="qName" value="@t.Key" />
                @{string csv = "";}
                <table border="1" align="left"
                       cellpadding="4" cellspacing="0">
                    <tr>
                        @foreach (var x in t.Value.First())
                        {
                            <th style="border:1px solid black;">@x</th>
                            csv += x + ';';
                        }
                    </tr>
                    @{
                        csv = csv.Remove(csv.Length - 1, 1);
                        csv += "↵";
                        @foreach (var x in t.Value.Where(p => p != t.Value.First()))
                        {
                            <tr>
                                @foreach (var y in x)
                                {
                                    <td style="border:1px solid black;">@y</td>
                                    csv += y.Replace(";", ",") + ';';
                                }
                            </tr>
                            csv = csv.Remove(csv.Length - 1, 1);
                            csv += "↵";
                        }
                        csv = csv.Remove(csv.Length - 1, 1);
                    }
                </table>
                <input type="text" hidden name="csv" value="@csv" />
            </div>
        }
    </form>
</div>
